<!DOCTYPE html>
<html>
<body>
  <h2>Hi, {{.Name}}</h2>
  <p>This is a confirmation that your password has been successfully reset.</p>
  <p>If you did not perform this action, please contact our support team immediately.</p>
  <p>Thank you for using EasyBuy!</p>
</body>
</html>
