<!DOCTYPE html>
<html>
<body>
  <h2>Welcome, {{.Name}}</h2>
  <p>Please verify your email by clicking the link below:</p>

  <p>Use the link below to verify your email address:</p>
  <a href="{{.EmailVerificationLink}}" target="_blank">Verify now</a>

  <p>This link will expire in 24 hours.</p>
</body>
</html>
