PORT=8000

CLIENT_URL="http://localhost:3000"
API_URL="http://localhost:8000/api/v1"

DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_NAME="easybuy"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_SSLMODE="disable"

JWT_SECRET=""

REDIS_ADDRESS="localhost:6379"  
REDIS_PASSWORD="" 
REDIS_DB=0 

RABBITMQ_URL="amqp://guest:guest@localhost:5672/"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

ESEWA_PRODUCT_CODE=""
ESEWA_SECRET_KEY=""
ESEWA_VERIFY_URL=""

KHALTI_LIVE_SECRET_KEY=""
KHALTI_VERIFY_URL=""

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=""
SMTP_USER= ""
SMTP_PASSWORD= ""